@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --svg-fill-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --svg-fill-color: #1d232a;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-rubik);
  margin: 0 auto;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistSans-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/GeistSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/static/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

.image-dark-transparent {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  mask-size: cover;
}
